# NXVM project files
/src/nxvmsrc/
/src/nxvmsrc

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.out
*.app

# Automake directories
/autom4te.cache/
.deps/
.dirstamp

# Automake makefiles
/config.h.in~
/nkvdm
/Makefile
/config.h
/config.status
/config.log
/stamp-h1

# Astyle trash
*.orig

# Mac OS X trash
.DS_Store
